.footer {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    color: #263238;

    text-align: center;
    margin: 45px 0 45px 0;
}