.sidebar {
    background-color: #ECEFF1;
    display: flex;
    flex-direction: column;
    min-height: 738px;
    max-width: 200px;
    &__header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 75px 0 18px;
        border-bottom: 1px solid #CFD8DC;
        min-height: 50px;
        &__title {
            margin-left: 43px;
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            color: #34515E;
        }
        &__hide-btn {
            border: none;
            height: 14px;
            width: 14px;
            cursor: pointer;
        }
    }
    &__test-list {
        padding: 0;
        margin-top: 20px;
        list-style-type: none;
        &__item {
            margin: 0 8px 5px 8px;
            padding: 2px 0 1px 7px;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #263238;
            cursor: pointer;
        }
    }
}